<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Iterations" value="7"/>
    <add key="KeySize" value="256"/>
    <add key="Hash" value="SHA1"/>
    <add key="Salt" value="gseRrias31490b32"/>
    <add key="Vector" value="1873az34rTl34kjq"/>
  </appSettings>
</configuration>